/* MODOS DE VISIBILIDAD*/
.transparente {
    visibility: hidden
}

.opaco {
    visibility: ""
}

.invisible {
    display: none;
}

.visible {
    display: "";
}

/* MODOS DE FUNCIONALIDAD */
.deshabilitado {
    opacity: 30%;
    pointer-events: none;
}

.habililitado {
    opacity: 100%;
    pointer-events: "";
}