  /* Estilos generales */


  /* Contenedor de la tabla con dimensiones mínimas y máximas */
  .table-container {
      max-width: 100%;
      display: block;

      overflow-y: auto;
      overflow-x: auto;
      background: #fff;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  }

  /* Estilos de la tabla */
  table {
      width: 100%;
      border-collapse: collapse;
  }

  /* Cabecera fija */
  thead {
      background-color: #2c3e50;
      color: #ecf0f1;
      position: sticky;
      top: 0;
      z-index: 1;
  }

  thead th {
      padding: 10px;
      /* border: 1px solid #34495e; */
      text-align: left;
      cursor: default;
  }

  tbody td {
      padding: 10px;
      border: 1px solid #ccc;
      text-align: left;
  }

  /* Estilo de filas para un look industrial */
  tbody tr:nth-child(even) {
      background-color: #ecf0f1;
  }

  tbody tr:hover {
      background-color: #dcdde1;
  }