  /* Estilos generales */


  /* Contenedor de la tabla con dimensiones mínimas y máximas */
  .table-container {
      max-width: 100%;
      display: block;
      background: #fff;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
      position: relative;
      border:  1px solid #ccc;
  }

  .tabla-scroll {
      overflow-y: auto;
      overflow-x: auto;
      
  }

  /* Estilos de la tabla */
  table {
      width: 100%;
      border-collapse: collapse;
  }

  thead th {
      z-index: 10;
      padding: 10px;
      text-align: left;
      cursor: default;

  }

  tbody td {
      padding: 10px;
      border: 1px solid #ccc;
      text-align: left;
  }

  tbody tr:nth-child(even) {
      background-color: #ecf0f1;
  }

  tbody tr:hover {
      background-color: #dcdde1;
  }

  .cabeceraTabla {
      background-color: #2c3e50;
      color: #ecf0f1;
      display: flex;
  }