.cabeceraSup {
    display: flex;
    align-items: flex-start;
    border: 1px solid black;
    border-bottom: none;

}

.fila-seleccionada {
    background-color: rgba(255, 255, 0, 0.808) !important;
}

.cabeceraInf {
    display: flex;
    border: 1px solid black;
}

.imagenLogo {
    width: auto;
    height: 50px;
}

.boton-cabecera {
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer
}

.cabecera {
    height: 15vh;
}

.cuerpo {
    height: 80vh;
    display: flex;
}

.tabla {
    width: 50%;
    max-width: 600px;
    overflow-y: auto;
}

#id_19 {
    width: 300px;
}

#id_20 {
    width: 300px;
}

#id_30 {
    width: 50%;
}

#id_32 {
    padding-left: 20px;
    background-color: rgb(199, 199, 199);
}

#id_33 {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
}

#id_35 {
    width: 50%;
    max-width: 150px;
}

#id_36 {
    width: 50%;
}
#id_41{
    width: 50%;
}

#asd {
    display: flex;
    width: 50%;
}