.cabeceraSup {
    display: flex;
    align-items: flex-start;
    border-bottom: none;
    background-color: #f2f2f2;
}

.cabeceraInf {
    display: flex;
    background-color: #f2f2f2;
}

.fila-seleccionada {
    background-color: rgba(255, 255, 0, 0.808) !important;
}



.imagenLogo {
    width: auto;
    height: 50px;
}

.boton-cabecera {
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer
}

.cabecera {
    height: 15vh;
}

.cuerpo {
    height: 80vh;
    display: flex;
}

.tabla {
    width: 50%;
    max-width: 600px;
    min-width: 500px;
    overflow-y: auto;
}



.cabeceraSupParte1 {
    min-width: 250px;
    width: 25%;
}

.cabeceraSupParte2 {
    min-width: 250px;
    width: 25%;
}

.cabeceraSupParte3 {
    min-width: 250px;
    width: 25%;
}

.cabeceraSupParte4 {
    min-width: 250px;
    width: 25%;
}













#id_18 {
    width: 300px;
}

#id_19 {
    width: 300px;
}

#id_29 {
    width: 100%;
}

#id_31 {
    padding-left: 20px;
    background-color: rgb(199, 199, 199);
}

#id_32 {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
}

#id_34 {
    width: 50%;
    max-width: 150px;
}

#id_35 {
    width: 50%;
}