/* cambia el text align de la columna elegida */
#id_31 tbody td:nth-child(1) {
    text-align: center;
}

#id_31 tbody td:nth-child(2) {
    text-align: right;
}

#id_31 tbody td:nth-child(3) {
    text-align: left;
}

#col-0-tabla-id_31 {
    width: 20px;
}

#col-1-tabla-id_31 {
    width: 100px;
}


.cabeceraSup {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 9px;
}

#id_6 {
    width: 150px;
    margin-right: 150px;
}

#id_5 {
    margin-right: 50px;
}