/* La tabla tiene ancho fijo y usa table-layout: fixed para respetar los anchos de cada <col> */



/**/
/**/
/* HAY QUE ACTUALIZAR AL ID DE LA TABLA!!! */
/**/
/**/
#id_1 {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

/**/
/**/
/**/

.tabla-contenedor {
    width: 100%;
    max-height: 300px;
    max-width: 450px;
    /* Altura máxima de la tabla */
    overflow-y: auto;
    /* Habilitar scroll vertical */
    overflow-x: auto;
    /* Activa el scroll horizontal */


    border: 1px solid #ccc;
    /* Opcional: borde */
}


td {
    font-size: 11px;
    /* Ajusta el tamaño del texto */
    border: 1px solid #000;
    padding: 5px;
    position: relative;
    /* Permite posicionar el resizer dentro */
    overflow: hidden;
    white-space: nowrap;
    /* Evita que el texto se divida */
}

th {

    position: sticky;
    top: 0;
    /* Mantiene los encabezados visibles */
    z-index: 2;
    padding: 0px;
}

.div_borde_cabecera {
    border: 1px solid #000000;
    background-color: #eeeeee;
}


/* Estilo para el separador que se usa para redimensionar */
.resizer {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    cursor: col-resize;
    background-color: transparent;
}

.resizer:hover {
    background-color: gray;
}