#id_9 {
    display: flex;
}

#seccionIzq {
    width: 50%;
}



#seccionIzqSup1 {
    display: flex;
    margin-bottom: 20px;
}

#seccionIzqSup2 {
    display: flex;
    margin-bottom: 20px;

}

#seccionIzqSup3 {
    display: flex;
    margin-bottom: 20px;
}



#id_48{
    background-color: rgba(127, 255, 212, 0.562);
}

#id_50 {
    display: flex;
}

#id_51 {
    display: flex;
}

#id_52 {
    display: flex;
}


.clase1 {
    display: flex;
}