#base {
    display: block;
}



#div_seccionIzq {
    width: 50%;
}



#seccionIzqSup1 {
    display: flex;
    margin-bottom: 20px;
}

#seccionIzqSup2 {
    display: flex;
    margin-bottom: 20px;

}

#seccionIzqSup3 {
    display: flex;
    margin-bottom: 20px;
}


#asdasdasd {
    display: flex;
    right: auto;
}


#id_58 {
    display: flex;
}

#id_59 {
    display: flex;
}

#id_60 {
    display: flex;
}


.clase1 {
    display: flex;
}