:root {
    --text-align-col1: right;
    --text-align-col2: left;
}







#tablaIzq {
    width: 100%;
    min-height: 50vh;
    margin-top: 10px;

    border-bottom: 2px #ccc solid;
    border-top: 2px #ccc solid;
}

#tabla-scroll-tablaIzq {
    max-height: 650px;
}



#cabeceratablaIzq div {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

#cabeceratablaIzq :nth-child(1) {
    text-align: var(--text-align-col1);
    right: 10px;
}

#cabeceratablaIzq :nth-child(2) {
    text-align: var(--text-align-col2);
    left: 10px;
}

#tablaIzq tbody td:nth-child(1) {
    text-align: var(--text-align-col1);
}

#tablaIzq tbody td:nth-child(2) {
    text-align: var(--text-align-col2);
}